" .ideavimrc is a configuration file for IdeaVim plugin. It uses
"   the same commands as the original .vimrc configuration.
" You can find a list of commands here: https://jb.gg/h38q75
" Find more examples here: https://jb.gg/share-ideavimrc

" Source your .vimrc
source ~/.vimrc

"" -- Suggested options --
" Show a few lines of context around the cursor. Note that this makes the
" text scroll if you mouse-click near the start or end of the window.
set scrolloff=10

" Do incremental searching.
set incsearch

" Don't use Ex mode, use Q for formatting.
map Q gq

" --- Enable IdeaVim plugins https://jb.gg/ideavim-plugins
" NOTE: Use IdeaVim Tracking ID from search everywhere menu to see the action ID for mapping

let mapleader = " "

" Highlight copied text
Plug 'machakann/vim-highlightedyank'
" Commentary plugin
Plug 'tpope/vim-commentary'

" LSP: [R]ename
map <leader>rl <Action>(RenameElement)

" LSP: [h]over
map h <Action>(QuickJavaDoc)

" [S]earch [f]ile
map <leader>sf <Action>(GotoFile)

" [S]earch [g]rep
map <leader>sg <Action>(TextSearchAction)

" Harpoon stuff
nmap <A-n> :action GotoHarpoon1<cr>
nmap <A-e> :action GotoHarpoon2<cr>
nmap <A-i> :action GotoHarpoon3<cr>
nmap <A-o> :action GotoHarpoon4<cr>

nmap <leader>hu :action ShowHarpoon<cr>
nmap <leader>ha :action AddToHarpoon<cr>

" Code action
map <leader>a <Action>(ShowIntentionActions)