" .ideavimrc is a configuration file for IdeaVim plugin. It uses
"   the same commands as the original .vimrc configuration.
" You can find a list of commands here: https://jb.gg/h38q75
" Find more examples here: https://jb.gg/share-ideavimrc

" Source your .vimrc
source ~/.vimrc

" Which Key Stuff
" NOTE: You need to install https://plugins.jetbrains.com/plugin/15976-which-keyset which-key
set which-key
set notimeout

" Apparently a Neovim default plugin
set matchit

" --- Enable IdeaVim plugins https://jb.gg/ideavim-plugins
" NOTE: Use IdeaVim Tracking ID from search everywhere menu to see the action ID for mapping

let mapleader = " "

Plug 'machakann/vim-highlightedyank'
" Highlight copied text
" Commentary plugin
Plug 'tpope/vim-commentary'

" Move line
nmap j <Action>(MoveStatementUp)
nmap k <Action>(MoveStatementDown)
xmap j <Action>(MoveStatementUp)
xmap k <Action>(MoveStatementDown)

" Search stuff
nmap <leader>sf <Action>(GotoFile)
nmap <leader>sg <Action>(FindInPath)
nmap <leader>so <Action>(RecentFiles)
nmap <leader>sw <Action>(FindWordAtCaret)

" Find in buffer
nmap <leader>/ <Action>(Find)
nmap <leader>rs <Action>(Replace)

" Diagnostics
nmap <C-w>d <Action>(ActivateProblemsViewToolWindow)
nmap [d <Action>(GotoPreviousError)
nmap ]d <Action>(GotoNextError)

" Git stuff
nmap <leader>gb <Action>(Annotate)

" Tab navigation
nmap <leader><TAB>[ <Action>(PreviousTab)
nmap <leader><TAB>] <Action>(NextTab)
nmap <leader><TAB>w <Action>(CloseContent)

" Harpoon stuff
" NOTE: You need to install https://github.com/AlexGirardDev/HarpoonIJ
nmap <A-n> <Action>(GotoHarpoon1)
nmap <A-e> <Action>(GotoHarpoon2)
nmap <A-i> <Action>(GotoHarpoon3)
nmap <A-o> <Action>(GotoHarpoon4)

nmap <leader>hu <Action>(ShowHarpoon)
nmap <leader>ha <Action>(AddToHarpoon)
nmap <C-/> <Action>(CommentByLineComment)

" LSP stuff
nmap <leader>rl <Action>(RenameElement)
nmap <leader>rf <Action>(RenameFile)
nmap h <Action>(QuickJavaDoc)
nmap <leader>a <Action>(ShowIntentionActions)
nmap <leader>A <Action>(RefactoringMenu)
nmap gd <Action>(GotoDeclaration)
nmap gr <Action>(FindUsages)
nmap gI <Action>(GotoImplementation)

" Search stuff
nmap <leader>e <Action>(ActivateProjectToolWindow)

nnoremap Y y$
