@define-color background #282A36;
@define-color foreground #F8F8F2;
@define-color selection #44475A;
@define-color comment #6272A4;
@define-color red #FF5555;
@define-color orange #FFB86C;
@define-color yellow #F1FA8C;
@define-color green #50FA7B;
@define-color purple #BD93F9;
@define-color cyan #8BE9FD;
@define-color pink #FF79C6;

* {
	font-family: ZenMono Nerd Font;
	font-size: 14px;
	padding: 0;
	margin: 0;
}

window#waybar {
	background-color: rgba(0, 0, 0, 0);
	color: @foreground;
	border-radius: 25px;
}

#workspaces {
	background-color: @background;
	color: @foreground;
	border-radius: 20px;
	padding-left: 5px;
	padding-right: 5px;
}

#mpris {
	background-color: @orange;
	color: @background;
	border-radius: 20px;
	padding-left: 3px;
	padding-right: 6px;
}

#window {
	background-color: @foreground;
	color: @background;
	border-radius: 20px;
	padding-left: 5px;
	padding-right: 5px;
}

.module {
	margin-left: 5px;
	margin-right: 5px;
}

#custom-power {
	background-color: @yellow;
	color: @background;
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 20px;
}

#tray {
	background-color: @green;
	color: @foreground;
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 20px;
}

#tray menu {
	background-color: @background;
	color: @foreground;
	border-radius: 20px;
	margin: 0px;
	padding: 5px;
}

#tray * {
	font-size: 16px;
}

#tray menu>* {
	border-radius: 20px;
	margin: 0px;
	padding: 5px;
}

#tray window {
	margin: 0px;
	padding: 0px;
	border-radius: 20px;
}

#tray window decoration {
	border-radius: 20px;
}

#clock {
	background-color: @purple;
	color: @background;
	padding-left: 8px;
	padding-right: 8px;
	border-radius: 20px;
}

#network {
	background-color: @purple;
	color: @background;
	padding-left: 11px;
	padding-right: 16px;
	border-radius: 20px;
}

#pulseaudio {
	background-color: @cyan;
	color: @background;
	padding-left: 10px;
	padding-right: 15px;
	border-radius: 20px;
}

#bluetooth {
	background-color: @pink;
	color: @background;
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 20px;
}
