[Desktop Entry]
Type = Application
Name = CLion
Comment = Metiendole al C de a doble y con el matrix brrr
Exec = /home/dvt/.local/bin/clion-2022.2/bin/clion.sh
Icon = /home/dvt/.local/bin/clion-2022.2/bin/clion.png
Categories = Development;IDE;
Terminal = false

