[Desktop Entry]
Type = Application
Name = IntelliJ IDEA
Comment = Where Java and Kotlin is born
Exec = /home/dvt/.local/bin/idea-IU-232.9559.62/bin/idea.sh
Icon = /home/dvt/.local/bin/idea-IU-232.9559.62/bin/idea.png
Terminal = false
Categories = Development;

