[Desktop Entry]
Type = Application
Name = IntelliJ IDEA
Comment = Where Java and Kotlin is born
Exec = /home/dvt/.local/bin/idea-IC-222.3345.118/bin/idea.sh
Icon = /home/dvt/.local/bin/idea-IC-222.3345.118/bin/idea.png
Terminal = false
Categories = Development;

